name: Publish to WinGet

on:
  release:
    types: [published]

jobs:
  winget:
    runs-on: ubuntu-latest
    steps:
      - name: Submit to WinGet Packages
        uses: vedantmgoyal2009/winget-releaser@v2
        with:
          # WinGet 패키지 식별자 (Manufacturer.Product)
          identifier: Enbraining.NCPNuke
          
          # 릴리즈 파일 중 MSI 파일만 대상으로 지정
          installers-regex: '\.msi$'
          
          # GitHub Token (Personal Access Token 필요)
          token: ${{ secrets.GH_TOKEN }}
